---
layout: layouts/home.njk
---
<h1 style="padding-top:5em">Dream Lab Blog</h1>

{% include electricsheep.svg %}

<br>
<br>
<br>

<div class="typewriter">
  <h2>Welcome to Dream Lab 2025</h2>
</div>
<br>
<div class="nav">
	<p><a href="about.html">About</a> &nbsp; | &nbsp;
      <a href="public/CV.pdf">CV</a> &nbsp; | &nbsp;
      <a href="blog/">Blog</a>
    </p>
</div>