---
layout: layouts/base.njk
---
<h1>Dream Lab Blog</h1>
<div class="typewriter">
  <h2>Welcome to Dream Lab 2025</h2>
    </div>
  <br>
  <div class="nav">
    <p><a href="">About</a> &nbsp; | &nbsp;
      <a href="assets/CV.pdf">CV</a> &nbsp; | &nbsp;
      <a href="">Blog</a>
    </p>
</div>
